.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

    
}

.logo{
    color: #ff7200;
    font-size:30px;
    
    display:inline-block;
    float: left;
}
.icon{
    width: 200px;
    float: left;
    height:50px;
}
.menu{
    width: 500px;
    float: left;
    height: 70px;
    
}
ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    float: left;
}
ul li{
    list-style: none;
    margin-left: 40px;
    margin-top: 27px;
    font-size: 14px;
    left: 0;
    transition: 1s;
    float: right;
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li:hover{
    background-color: #ff7200;
    border-radius: 10px;
    width: auto;
}
.search{
    float: right;
    height:50px;
    width: 350px;
}
.srch{
    font-family: arial;
    font-size: 15px;
    height: 50px;
    width: 250px;
background: transparent;
border-bottom-color: #ff7200;
border-style: solid;
border-right: none;
border-left: none;
border-radius: 5px;
color: white;

}
.btn{
    height: 50px;
    width: 90px;
font-family: arial;
font-size: 20px;
border-radius: 10px;
cursor: pointer;
border: none;
}
.btn:focus{
    outline: none;
}
.content{
    width: 1200;
    margin: auto;
    height: auto;
    color: black
}
.content .par{
    line-height: 30px;
    font-size: 20px;
    padding-left: 20px;
    font-family: arial;
    width: 500px;
    text-align: center;
}
.content h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 50px;
    padding-left:29px ;
}
.reality {
    color: #ff7200;
}
.cn{
    width: 100px;
    height: 40px;
    background: #ff7200;
    border: none;
    border-radius: 10px;
    transition: 1s;
} 
.cn a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    
}
.cn:hover{
    background-color: white;
}
.form{
    width: 250px;
    height: 400px;
    background: rgba(0,0,0,0.5);
    top: 200px;
    left: 900px;
    position: absolute;
    margin-top:0;
    padding-left: 15px;
    border-radius: 10px;
    
}
.form h2 {
width: 190px;
text-align:center;
border: 2px solid #ff7200;
margin-left: 16px;
padding: 8px;
font-family: arial;
font-size: 30px;
color: white;
background-color: #ff7200;
border-radius: 25px;
}
.form input {
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
::placeholder {
    color: white;
    font-family: arial;
}
.btnn {
    width: 240px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 10px;
    border-radius: 20px;
    transition: 1s ease-in-out;
    cursor: pointer;
}
.btnn:hover{
    background: white;  
}
.btnn a{
    text-decoration: none;
    color: black;
    font-size:16px;
    font-weight: bold;
}
.form .link{
   font-family: arial; 
   font-size: 17px;
   text-align: center;
   color: white;
}
.liw{
text-align: center;
padding:0;
text-decoration: none;
color:white;
}
.icon a{
    text-decoration: none;
    color: none;
    width: 250px;
    
    
}
.icon ion-icon{
    color: white;
    font-size: 25px;
    padding-left: 10px;
    padding-top: 0;
    transition: 0.7s ease;
    
}
@media screen and (max-width:1200px) {
    .navbar {
        width: 100%;
        height: 100px;
    }
    ul{
        margin-left: 30px;
    }
    ul li{
        margin-left:60px;
    }
    ul li a{
        font-size: 1.8vw;

    }
    .search {
        margin-top: 3px;
        margin-left: 250px;
    }
    .srch {
        height: 40px;
        width: 190px;
        font-size: 14px;

    }
    .btn{
        height: 40px;
        width: 80px;

    }
    .content{
        width: 100%;
    }
    .content h1, .content span{
        font-size: 4.5vw;
    }
    .content .par{
        width: 90%;
        font-size: 1.5vw;
    }
    .content .cn{
        width: 13%;
        height: 3.5vw;
        font-size: 1.9vw;
    }
    .content a{
        font-size: 1.5vw;

    }
}
@media screen and (max-width:1170px) {
    .main{
        padding-left: 20px;
        height: 180vh;

    }
    .form{
        margin-left: -30px;
        width: 250px;
        height: 400px;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,  rgba(0,0,0,0.5)50%);
        position: absolute;
        top: 420px;
        left: 50px;
    border-radius: 10px;
    padding: 25px;
    }
    .form input{
        width: 240px;
        height: 35px;
        background:transparent;
        border-bottom: 1px solid #ff7200;
        border-top: none;
        border-right: none;
        border-left: none;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
    }
    .btnn a{
        font-size: 16px;
    }
    .form .link a{
    font-size: 16px;
    }
}
@media screen and (max-width:830px) {
    .conten{
        margin-top: 120px;
        width: 80%;
        margin-left: 40px;
    }
    .content h1, .content span{
        font-size: 6vw;
    }
    .content .par {
        width: 90%;
        font-size: 1.8vw;
    }
    .content .cn{
        width: 15%;
        height: 4.5vw;
        font-size: 2vw;
    }
    .content a{
        font-size: 2vw;

    }
    .logo{
        margin-left: 240px;
        width: 100%;
        margin-top: 15px;
        font-size: 5vw;
    }
    .menu {
        width: 100%;

    }
    ul{
        margin-top: -5px;
        margin-left: 5px;
    }
    ul li{
        margin-left: 60px;
    }
ul li a{
    font-size: 2vw;
}
.search {
    margin-top: -20px;
    margin-left: 40px;
    margin-bottom: 30px;

}
.srch{
    height: 30px;
    width: 160px;
    font-size: 14px;
}
.btn{
    height: 30px;
    width: 70px;
}
}
@media screen and (max-width:1170px) {
    .main{
        padding-left: 20px;
        height: 180vh;

    }
    .form{
        margin-left: -30px;
        width: 250px;
        height: 400px;
        background: linear-gradient(to top, rgba(0,0,0,0.5)50%,  rgba(0,0,0,0.5)50%);
        position: absolute;
        top: 420px;
        left: 50px;
    border-radius: 10px;
    padding: 25px;
    }
    .form input{
        width: 240px;
        height: 35px;
        background:transparent;
        border-bottom: 1px solid #ff7200;
        border-top: none;
        border-right: none;
        border-left: none;
        color: white;
        font-size: 15px;
        letter-spacing: 1px;
        margin-top: 30px;
        font-family: sans-serif;
    }
    .btnn a{
        font-size: 16px;
    }
    .form .link a{
    font-size: 16px;
    }
}
@media screen and (max-width:600px) {
    .content {
        margin-top: 80px;
        margin-left: 20px;
    }
    .search {
        margin-top: -40px;
        margin-left: 42px;

    }
    .logo{
        margin-left: 180px;
        font-size: 4vw;
    }
    ul{
        margin-top: -25px;
        margin-left: -5px;
    }
    ul li{
        margin-left: 50px;

    }
    ul li a{
        font-size: 2vw;
    }
}
@media screen and (max-width:450px) {
    .logo{
        margin-left: 140px;
        font-size: 4vw;

    }
    ul{
        margin-top: -25px;
    }
    ul li{
        margin-left: 20px;

    }
    ul li a{
        font-size: 2vw;

    }
    .search{
        margin-top: -40px;
        margin-left: 38px;

    }
}